@import "tailwindcss";
body {
    background-color: #eadeda;
}

@theme {
  --color-primary: #2e294e;
  --color-secondary: #ffd400;
  --color-background: #eadeda;
  --color-accent: #d90368;
  --color-shade: #820263;
}
